body
{
  background-image: url("../img/colegio.png");
  background-repeat: no-repeat;
  background-size: 100% 600px; 
}

section, header, div
{
  border: 1px solid black;
}
#conntenedorBoton
{
  text-align: center;
}